
.vs/215Web/config/applicationhost.config
.vs/215Web/FileContentIndex/744b173b-af9f-4ba2-8306-0d2e362d9aa9.vsidx
.vs/215Web/FileContentIndex/read.lock
.vs/215Web/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
