<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galería</title>
    <link rel="stylesheet" href="/css/galeria.css"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html"><img src="/media/logobk.png" alt=""></a>
                </div>
                <nav>
                <a href="#servicios">Servicios</a>
                <a href="#quienes-somos">Quiénes somos</a>
                <a href="/views/galeria.html">Galería</a>
                <a href="/views/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <section id="banner-galeria">
        <h1>Galería</h1>
    </section>

    <div id="galeria-bg">
    <h2>Videoclips</h2>
    <span class="linea"></span>
    <section class="galeria">
        <a href="#image1"><img src="/media/rec_audio.jpg" alt=""></a>
        <a href="#image2"><img src="/media/rec_audio.jpg" alt=""></a>
        <a href="#image3"><img src="/media/rec_audio.jpg" alt=""></a>
        <a href="#image4"><img src="/media/rec_audio.jpg" alt=""></a>
        <a href="#image5"><img src="/media/rec_audio.jpg" alt=""></a>
        <a href="#image6"><img src="/media/rec_audio.jpg" alt=""></a>
    </section>
    </div>

    <article class="lightbox" id="image1">
        <a href="" class="next"><i class="fas fa-arrow-left"></i></a>
        <img src="/media/rec_audio.jpg" alt="">
        <a href="" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="" class="close">X</a>
    </article>
    <article class="lightbox" id="image2">
        <a href="" class="next"><i class="fas fa-arrow-left"></i></a>
        <img src="/media/rec_audio.jpg" alt="">
        <a href="" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="" class="close">X</a>
    </article>
    <article class="lightbox" id="image3">
        <a href="" class="next"><i class="fas fa-arrow-left"></i></a>
        <img src="/media/rec_audio.jpg" alt="">
        <a href="" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="" class="close">X</a>
    </article>
    <article class="lightbox" id="image4">
        <a href="" class="next"><i class="fas fa-arrow-left"></i></a>
        <img src="/media/rec_audio.jpg" alt="">
        <a href="" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="" class="close">X</a>
    </article>
    <article class="lightbox" id="image5">
        <a href="" class="next"><i class="fas fa-arrow-left"></i></a>
        <img src="/media/rec_audio.jpg" alt="">
        <a href="" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="" class="close">X</a>
    </article>
    <article class="lightbox" id="image6">
        <a href="" class="next"><i class="fas fa-arrow-left"></i></a>
        <img src="/media/rec_audio.jpg" alt="">
        <a href="" class="next"><i class="fas fa-arrow-right"></i></a>
        <a href="" class="close">X</a>
    </article>

    <footer>
        <div id="container">
            <p>&copy; 215 Files 2023</p>
        </div>
    </footer>
</body>
</html>